header{
  position: relative;
  z-index: 8;
  .dropdown-menu{
    border-top: 2px solid #EF4E23;
    border-bottom: 10px solid #EF4E23;
    border-radius: 0;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.9);
    @include media-breakpoint-down(md) {
      box-shadow: none;
      border: none;
      .dropdown-item{
        padding: 7px 0 !important;
      }
    }
    .dropdown-item{
      display: block;
      font-size: 14px;
      padding: 7px 20px;
    }
  }
}
.menu-item{
  border-right:1px solid #959595;
  font-size: 20px;
  a.nav-link {
    padding: 0 20px !important;
    @include media-breakpoint-down(md) {
      padding: 7px 0 !important;
    }
  }

  @include media-breakpoint-down(md) {
    border-right: none;
    a {
      padding: 10px 0!important;
    }
  }
}