.jd-def-color{
  color: $fontColorLight;
}

.jd-input{
  border-top: 1px solid $themeColor;
  border-bottom: 1px solid $themeColor;
  border-right:none;
  border-left:none;
  background-color: rgba(255, 255, 255, 0.6);
}

h2.jd-title {
  display: inline-block;
  text-transform: uppercase;
  font-family: $mediumFont;
  &:not(.without-border):after{
    content: "";
    display: block;
    height: 5px;
    background:#fff;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
  }
}

.bottom-line-def-color{
  &:after{
    content: "";
    height: 5px;
    width: 50%;
    background: $themeColor;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.ml--3{margin-left: -3px;}
.ml--10{margin-left: -10px;}
.jd-text-dark{color: $fontColorDark;}
.jd-text-light{color: $fontColorLight;}
.jd-theme-color{color: $themeColor;}
.jd-theme-color-50{color: rgba(239, 78, 35, 0.5);}